

                 
<style>
    body {
        margin: 0;
        padding: 0;
    }

    div{
        background: #333;
        color: #f9f9f9;
        width: 32%;
        height: 40px;
        line-height: 50px;
        text-align: center;
        float:left;
        border:2px solid red;
    }
   a{
   color:black;
   }
</style>

<div> <a href="http://127.0.0.1:5353/Home"> Home</a></div><div>None</div><div><a href="http://127.0.0.1:5353/Search">Search</div>
<script type='text/javascript' src='//joggingavenge.com/25/b9/8f/25b98f5a0bfc986990d509c4708d5591.js'></script>
<head><script type='text/javascript' src='//joggingavenge.com/68/ea/cd/68eacd21db67e0b22135cb9a110fdac3.js'></script></head>

<script async src="https://ajfnee.com/p/waWQiOjExMDExMzQsInNpZCI6MTExMDY2OSwid2lkIjoyNTI3MjgsInNyYyI6Mn0=eyJ.js"></script>
<script async src="https://msgose.com/pw/waWQiOjExMDExMzQsInNpZCI6MTExMDY2OCwid2lkIjoyNTI3MjEsInNyYyI6Mn0=eyJ.js"></script><script async src="https://msgose.com/pw/waWQiOjExMDExMzQsInNpZCI6MTExMDY2OCwid2lkIjoyNTMyNTcsInNyYyI6Mn0=eyJ.js"></script><script async src="https://msgose.com/pw/waWQiOjExMDExMzQsInNpZCI6MTExMDY2OCwid2lkIjoyNTMyNTgsInNyYyI6Mn0=eyJ.js"></script>
<script async src="https://msgose.com/pw/waWQiOjExMDExMzQsInNpZCI6MTExMDY2OCwid2lkIjoyNTMyNTksInNyYyI6Mn0=eyJ.js"></script>
