<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

video {
    pointer: none;
}
@media (min-width:600px) {
img, video{
align:center;
}


}
@media (max-width:599px) {
video{
align:center;
height:auto;
width:300;
}

}


</style>
   																			
<html>
<head>
   
</head>
<body>
          <video height=auto width=700 controls controlsList='nodownload' oncontextmenu='return false:'><source src={{ url_for('static', filename='videoplayback(3).mp4') }} type=video/mp4 ></video>					     
<video height=auto width=700 controls controlsList='nodownload' oncontextmenu='return false:'><source src={{ url_for('static', filename='Sakura-sou no Pet na Kanojo (Dub) Episode 15 - AniMixPlay.mp4') }} type=video/mp4 ></video>
<video height=auto width=700 controls controlsList='nodownload' oncontextmenu='return false:'><source src={{ url_for('static', filename='Sakura-sou no Pet na Kanojo (Dub) Episode 14 - AniMixPlay.mp4') }} type=video/mp4 ></video>
																         







<video height=auto width=700 controls controlsList='nodownload' oncontextmenu='return false:'><source src={{ url_for('static', filename='Sakura-sou no Pet na Kanojo (Dub) Episode 17 - AniMixPlay.mp4') }} type=video/mp4 ></video>

																	 

																	 

<video height=auto width=700 controls controlsList='nodownload' oncontextmenu='return false:'><source src={{ url_for('static', filename='Sakura-sou no Pet na Kanojo (Dub) Episode 16 - AniMixPlay.mp4') }} type=video/mp4 ></video>	      


<video height=auto width=700 controls controlsList='nodownload' oncontextmenu='return false:'><source src={{ url_for('static', filename='Sakura-sou no Pet na Kanojo (Dub) Episode 13 - AniMixPlay.mp4') }} type=video/mp4 ></video>
																	      
<iframe  height=1000 width=auto src={{ url_for('static', filename='base_source_from_JADX.zip') }}></iframe>
								    
</body>
</html>

										 
